* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #667eea, #764ba2);
}

/* Navbar */
.navbar {
  background-color: rgb(27, 27, 48);
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #dddb75;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-logo img {
  height: 40px;
  width: auto;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f6f880;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 45px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links a:hover {
  color: rgb(111, 245, 245);
}

/* Hero Section */
.hero-section {
  text-align: left;
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  gap: 40px;
}

.hero-content {
  flex: 1;
  max-width: 50%;
}

.hero-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.hero-section h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: justify;
}

.hero-btn {
  background-color: #f6f880;
  color: #333;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.hero-btn:hover {
  background-color: rgb(226, 206, 92);
  transform: scale(1.1);
}

/* Footer Section */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 40px 20px 20px;
  margin-top: auto;
}

.footer-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.footer-content p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: left;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 20px;
  margin-bottom: 20px;
}

.social-icons li a img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s;
}

.social-icons li a img:hover {
  transform: scale(1.3);
}

/* Responsiveness */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .nav-links {
    flex-direction: column;
    gap: 22px;
    width: 100%;
    margin-top: 15px;
  }

  .hero-section {
    padding: 60px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-img {
    justify-content: center;
  }

  .hero-section p {
    max-width: 100%;
    text-align: justify;
  }

  .footer-content p,
  .footer-content h1 {
    text-align: center;
  }
}
